$baseFontSize : 1em;
$scaleFactor  : 1.2;

/*  Colours — Currently using a complementary scheme */
$colorHue     : hsl( 35, 98%, 73%); //This is the main colour
$colorMild    : lighten($colorHue, 25%);
$colorShade   : darken($colorHue, 10%);
$colorDark    : darken($colorHue, 65%);
$colorAccent  : complement ($colorHue);

/*  Selection highlight  */
$textHighlightBg    : $colorHue;
$textHighlightColor : $colorMild;


/*  Margin  */
$marginFixed: 12px;
$marginUnit: 2vmax;

/*  Padding  */
$paddingFixed: 12px;
$paddingUnit  : 2vmax;

/*  Variables for the page body  */
$bodyBgColor     : lighten ($colorHue, 30%);
$bodyFontColor   : $colorDark;
$linkColor       : $colorShade;
$linkBorder      : 1px dotted $colorShade;
$linkHoverBorder : 1px  solid $colorShade;


/*  Border-radius mixin  */
@mixin borderRadius($radius: 100px) { border-radius: $radius; }

/*  Typography  */
$fontSans  : 'Work Sans', sans-serif;
$fontSerif : 'Cormorant Garamond', serif;
$fontMono  : 'Space Mono', monospace;


/*  Paragraph-specific variables  */
$paraLineHeight      : 1.6em;
$paraSerifFontSize   : 1.3em;
$paraSerifLineHeight : 1.6em;


// code area styles
$codeBgColor : $colorHue;
$codeColor   : $colorDark;

// checkbox and radio button background color
$checkboxBgColor : $colorHue;
$radioBgColor    : $colorHue;

// power function (for scaleFactor usage)
@function pow($number, $exponent) {
    $value: 1;

    @if $exponent > 0 {
        @for $i from 1 through $exponent {
            $value: $value * $number;
        }
        } @else if $exponent < 0 {
            @for $i from 1 through -$exponent {
            $value: $value / $number;
        }
    }

  @return $value;
}