/*
    FICTOAN
    An intuitive, minimalist responsive HTML+CSS setup
    for designers just starting to code — just like me.
    by Sujan Sundareswaran
    Current version: 1.20.2

    https://github.com/sujan-s/fictoan/
    http://sujansundareswaran.com/
*/


.intro-banner {
    width: 100vw;
    height: 80vh;
    background: $colorMild;
}

.intro-logo { height: 128px; }