//  Add your project-specific variables here
$fontSans : "Neue Plak", sans-serif;
$fontMono : "Dita Grotesk", monospace;

$bodyFontSize  : 1.04em;

//  Links
$sidebarTextColor         : $colorWhite;
$sideBarLinkBGOnHover     : $colorBlue-40;
$sideBarLinkIconFillColor : $colorBlue-40;
$sideBarLinkChevronBG     : $colorWhite;

$inlineCodeBGColor   : $colorBlue-10;
$inlineCodeTextColor : $colorBlue-80;