.ff-modal {
    position       : fixed;
    top            : 0;
    right          : 0;
    bottom         : 0;
    left           : 0;
    opacity        : 0;
    background     : rgba($colorHue, 0.88);
    transition     : opacity 0.4s ease-in;
    pointer-events : none;
    z-index        : 99999;
}

.ff-modal:target {
    opacity        : 1;
    pointer-events : auto;
}

.ff-modal-box {
    position : relative;
    margin   : 10vmin auto;
}

#close { border: none; }