.ff-sidebar-container {
    position         : fixed;
    width            : 240px;
    height           : 100vh;
    flex-shrink      : 0;
    overflow-x       : hidden;
    overflow-y       : scroll;
    background-color : $sideBarBG;
    z-index          : 9999999;
    transition       : width 0.2s ease-out;
    &.collapsed {
        width      : 48px;
    }
}

.ff-content-container {
    display        : flex;
    flex-direction : column;
    width          : 100%;
    padding        : 0 2vw;
    transition     : margin 0.2s ease-out;
}

.ff-sidebar-container + .ff-content-container {
    margin-left : 240px;
    width       : calc(100% - 240px);
}
.ff-sidebar-container.collapsed + .ff-content-container {
    margin-left : 48px;
    width       : calc(100% - 48px);
}

#sidebar-logo #logo-small {
    width      : 48px;
    height     : 48px;
    padding    : 12px;
    transition : all 0.2s ease-out;
}

.ff-sidebar-container #sidebar-logo #logo-small             { display: none; }
.ff-sidebar-container.collapsed #sidebar-logo #logo-small   { display: block; }

.ff-sidebar-container #sidebar-logo #logo-big               { display: block; }
.ff-sidebar-container.collapsed #sidebar-logo #logo-big     { display: none; }

.sidebar-links {
    position : absolute;
    top      : 80px;
}

.sidebar-link {
    display     : flex;
    position    : relative;
    align-items : center;
}

.ff-sidebar-container .sidebar-link:hover { background-color: $sideBarLinkBGOnHover; }

.sidebar-link span {
    width        : 48px;
    height       : 48px;
    padding      : 16px;
    line-height  : 1;
    align-self   : center;
    justify-self : center;
}

.sidebar-link svg       { stroke: $sideBarLinkIconStrokeColor; }
.sidebar-link:hover svg { stroke: $sideBarLinkIconStrokeColorOnHover; }

.sidebar-link label {
    width       : 192px;
    align-self  : center;
    padding     : 12px 0;
    font-size   : 14px;
    font-weight : normal;
    color       : $sidebarTextColor;
    cursor      : pointer;
}

.sidebar-link label:hover { color: $sidebarTextColorOnHover; }

.sidebar-links summary { position: relative; }

.sidebar-links details > summary::after {
    display        : inline-block;
    position       : absolute;
    width          : 10px;
    height         : 10px;
    top            : 16px;
    right          : 16px;
    content        : "";
    padding        : 2px;
    border-style   : solid;
    border-width   : 0 2px 2px 0;
    transform      : rotate(45deg);
    color          : $sideBarLinkChevronColor;
    transition     : all 0.2s;
    cursor         : pointer;
}

.sidebar-links details[open] > summary::after {
    transform : rotate(225deg);
    top       : 22px;
}

.ff-sidebar-container.collapsed summary::after { display: none; }

.ff-sidebar-container.collapsed .sidebar-link span:hover + label {
    display          : inline-block;
    position         : fixed;
    width            : auto;
    left             : 40px;
    background-color : $sidebBarCollapsedLabelBG;
    font-size        : 12px;
    color            : $sidebBarCollapsedLabelTextColor;
    font-weight      : normal;
    padding          : 2px 8px;
    border-radius    : 4px;
    box-shadow       : 0 $measureFixed/2 $measureFixed   -2px hsla(0, 0, 0, 0.24);
}

.sidebar-links details details > .sidebar-link > label {
    font-size : 80%;
    color     : $sidebarSmallTextColor;
}

.sidebar-links details details > .sidebar-link:hover > label { color : $sidebarTextColorOnHover; }

//  HIDE THE SCROLLBAR  =======================================================
//  Custom scrollbar, works only in webkit browsers
.ff-sidebar ::-webkit-scrollbar {
    position : absolute;
    top      : 0;
    right    : 0;
    width    : 12px;
}

.ff-sidebar ::-webkit-scrollbar-track { display : none; }

.ff-sidebar ::-webkit-scrollbar-thumb {
    width            : 6px;
    height           : 24px;
    max-height       : 24px;
    background-color : rgba($colorRed, 0.8);
    border-radius    : 10px;
    padding          : 2px;
}
.ff-sidebar ::-webkit-scrollbar-thumb:hover { background-color : rgba($colorShade, 0.8); }