/*  Basics for the row and box  */
.row,
.box {
    display : block;
    margin  : 0 0 2vmax 0; /* This will push the next row a little below */
    clear   : both;
}

/*  Use 'box' class to have portions that add up to more than 100% width  */
.box .portion { margin-bottom: $measureFixed*2; }

/*  Basics for the portions  */
.row .portion,
.box .portion {
    float   : left;
    padding : 0 $measureFixed*3;
}

/*  Remove the padding for nested portions  */
.portion > .row {
    margin-left  : -$measureFixed*3;
    margin-right : -$measureFixed*3;
}

@media all and (max-width : 600px) {
    .row .portion,
    .box .portion {
        padding : 0 $measureFixed*1;
    }
}

@media all and (max-width : 1200px) {
    .row .portion { margin-bottom : 2vmax; }
}

.row.small-gutters .portion,
.box.small-gutters .portion { padding : 0 $measureFixed*1; }

.row.large-gutters .portion,
.box.large-gutters .portion { padding : 0 $measureFixed*4; }

/*  Fallback width for portions with unspecified widths  */
.portion {
    width      : 100%;
    min-height : $measureFixed;
}

/*  Lessen the gap between elements in the same row  */
.small-gutters .portion,
.portion.small-gutters { padding: 0 12px; }

/*  Remove the gap between elements in the same row  */
.no-gutters .portion,
.portion.no-gutters { padding: 0 !important; }

/*  Remove portion-padding as card itself has padding  */
.ff-card .row .portion:first-of-type { padding-left: 0; }
.ff-card .row .portion:last-of-type  { padding-right: 0; }



/*  Now the actual grid layout  */
.portion.whole            { width : 100%; }

.portion.half             { width : 50%; }

.portion.one-third        { width : 33.3332%; }
.portion.two-thirds       { width : 66.6665%; }

.portion.one-fourth       { width : 25%; }
.portion.three-fourths    { width : 75%; }

.portion.one-fifth        { width : 20%; }
.portion.two-fifths       { width : 40%; }
.portion.three-fifths     { width : 60%; }
.portion.four-fifths      { width : 80%; }

.portion.one-sixth        { width : 16.6666%; }
.portion.two-sixths       { width : 33.3332%; }
.portion.three-sixths     { width : 50.0000%; }
.portion.four-sixths      { width : 66.6665%; }
.portion.five-sixths      { width : 83.3332%; }

.portion.one-seventh      { width : 14.2856%; }
.portion.two-sevenths     { width : 28.5714%; }
.portion.three-sevenths   { width : 42.8571%; }
.portion.four-sevenths    { width : 57.1428%; }
.portion.five-sevenths    { width : 71.4285%; }
.portion.six-sevenths     { width : 85.7142%; }

.portion.one-eighth       { width : 12.5%; }
.portion.two-eighths      { width : 25.0%; }
.portion.three-eighths    { width : 37.5%; }
.portion.four-eighths     { width : 50.0%; }
.portion.five-eighths     { width : 62.5%; }
.portion.six-eighths      { width : 75.0%; }
.portion.seven-eighths    { width : 87.5%; }

.portion.one-ninth        { width : 11.1111%; }
.portion.two-ninths       { width : 22.2222%; }
.portion.three-ninths     { width : 33.3333%; }
.portion.four-ninths      { width : 44.4444%; }
.portion.five-ninths      { width : 55.5555%; }
.portion.six-ninths       { width : 66.6665%; }
.portion.seven-ninths     { width : 77.7778%; }
.portion.eight-ninths     { width : 88.8889%; }

.portion.one-tenth        { width : 10%; }
.portion.two-tenths       { width : 20%; }
.portion.three-tenths     { width : 30%; }
.portion.four-tenths      { width : 40%; }
.portion.five-tenths      { width : 50%; }
.portion.six-tenths       { width : 60%; }
.portion.seven-tenths     { width : 70%; }
.portion.eight-tenths     { width : 80%; }
.portion.nine-tenths      { width : 90%; }

.portion.one-eleventh     { width :  9.0909%; }
.portion.two-elevenths    { width : 18.1818%; }
.portion.three-elevenths  { width : 27.2727%; }
.portion.four-elevenths   { width : 36.3636%; }
.portion.five-elevenths   { width : 45.4545%; }
.portion.six-elevenths    { width : 54.5454%; }
.portion.seven-elevenths  { width : 63.6363%; }
.portion.eight-elevenths  { width : 72.7272%; }
.portion.nine-elevenths   { width : 81.8181%; }
.portion.ten-elevenths    { width : 90.9090%; }

.portion.one-twelfth      { width :  8.3333%; }
.portion.two-twelfths     { width : 16.6667%; }
.portion.three-twelfths   { width : 25.0000%; }
.portion.four-twelfths    { width : 33.3332%; }
.portion.five-twelfths    { width : 41.6667%; }
.portion.six-twelfths     { width : 50.0000%; }
.portion.seven-twelfths   { width : 58.3333%; }
.portion.eight-twelfths   { width : 66.6667%; }
.portion.nine-twelfths    { width : 75.0000%; }
.portion.ten-twelfths     { width : 83.3333%; }
.portion.eleven-twelfths  { width : 91.6667%; }

.portion.one-thirteenth      { width :  7.6923%; }
.portion.two-thirteenths     { width : 15.3846%; }
.portion.three-thirteenths   { width : 23.0769%; }
.portion.four-thirteenths    { width : 30.7692%; }
.portion.five-thirteenths    { width : 38.4615%; }
.portion.six-thirteenths     { width : 46.1538%; }
.portion.seven-thirteenths   { width : 53.8462%; }
.portion.eight-thirteenths   { width : 61.5385%; }
.portion.nine-thirteenths    { width : 69.2308%; }
.portion.ten-thirteenths     { width : 76.9231%; }
.portion.eleven-thirteenths  { width : 84.6154%; }
.portion.twelve-thirteenths  { width : 92.3077%; }

.portion.one-fourteenth        { width :  7.1429%; }
.portion.two-fourteenths       { width : 14.2857%; }
.portion.three-fourteenths     { width : 21.4286%; }
.portion.four-fourteenths      { width : 28.5714%; }
.portion.five-fourteenths      { width : 35.7143%; }
.portion.six-fourteenths       { width : 42.8571%; }
.portion.seven-fourteenths     { width : 50.0000%; }
.portion.eight-fourteenths     { width : 57.1429%; }
.portion.nine-fourteenths      { width : 64.2857%; }
.portion.ten-fourteenths       { width : 71.4286%; }
.portion.eleven-fourteenths    { width : 78.5714%; }
.portion.twelve-fourteenths    { width : 85.7143%; }
.portion.thirteen-fourteenths  { width : 92.8571%; }

.portion.one-fifteenth        { width :  6.6667%; }
.portion.two-fifteenths       { width : 13.3333%; }
.portion.three-fifteenths     { width : 20.0000%; }
.portion.four-fifteenths      { width : 26.6667%; }
.portion.five-fifteenths      { width : 33.3333%; }
.portion.six-fifteenths       { width : 40.0000%; }
.portion.seven-fifteenths     { width : 46.6667%; }
.portion.eight-fifteenths     { width : 53.3333%; }
.portion.nine-fifteenths      { width : 60.0000%; }
.portion.ten-fifteenths       { width : 66.6667%; }
.portion.eleven-fifteenths    { width : 73.3333%; }
.portion.twelve-fifteenths    { width : 80.0000%; }
.portion.thirteen-fifteenths  { width : 86.6667%; }
.portion.fourteen-fifteenths  { width : 93.3333%; }

.portion.one-sixteenth        { width :  6.25%; }
.portion.two-sixteenths       { width : 12.50%; }
.portion.three-sixteenths     { width : 18.75%; }
.portion.four-sixteenths      { width : 25.00%; }
.portion.five-sixteenths      { width : 31.25%; }
.portion.six-sixteenths       { width : 37.50%; }
.portion.seven-sixteenths     { width : 43.75%; }
.portion.eight-sixteenths     { width : 50.00%; }
.portion.nine-sixteenths      { width : 56.25%; }
.portion.ten-sixteenths       { width : 62.50%; }
.portion.eleven-sixteenths    { width : 68.75%; }
.portion.twelve-sixteenths    { width : 75.00%; }
.portion.thirteen-sixteenths  { width : 81.25%; }
.portion.fourteen-sixteenths  { width : 87.50%; }
.portion.fifteen-sixteenths   { width : 93.75%; }


/*  Clearfix for the rows  */
.row:before, .row:after {
    display : block;
    content : "";
}
.row:after { clear: both; }

/*  Clearfix for the rows  */
.box:before, .box:after {
    display : block;
    content : "";
}
.box:after { clear : both; }

/*  Fixing images for better responsive behaviour  */
.portion img { max-width : 100%; }

/*  Side margins for all your content - increase or decrease at will,
    or simply add the 'no-padding' class to get full-width  */

/*  For small screens UP TO 599px width  */
@media all and (max-width : 600px) {
    .padded-content { padding : 0 2vw; }
}

/*  For screens TILL 600px width  */
@media all and (min-width : 600px) {
    .padded-content { padding : 0 4vw; }
}

/*  For screens FROM 900px width and UPWARD  */
@media all and (min-width : 900px) {
    .padded-content { padding : 0 8vw; }
}

/*  For screens FROM 1200px width and UPWARD  */
@media all and (min-width : 1200px) {
    .padded-content { padding : 0 10vw; }
}

/*  For big screens FROM 1800px width and UPWARD  */
@media all and (min-width : 1800px) {
    .padded-content { padding : 0 12vw; }
}

/*  For large screens FROM 2400px width and UPWARD  */
@media all and (min-width : 2400px) {
    .padded-content { padding : 0 16vw; }
}

/*  Device-specific portion widths -
    the naming convention is: .{portion-width}-on-{device}-{orientation}  */
/*  For small screens UP TO 599px  */
@media all and (max-width: 600px) {

    .row:not(.retain-layout-on-mobile) > .portion:not([class*='on-mobile']),
    .box:not(.retain-layout-on-mobile) > .portion:not([class*='on-mobile']) { width: 100%; }

    .portion.whole-on-mobile              { width : 100%; }

    .portion.half-on-mobile               { width : 50%; }

    .portion.one-third-on-mobile          { width : 33.3332%; }
    .portion.two-thirds-on-mobile         { width : 66.6665%; }

    .portion.one-fourth-on-mobile         { width : 25%; }
    .portion.two-fourths-on-mobile        { width : 50%; }
    .portion.three-fourths-on-mobile      { width : 75%; }

    .portion.one-fifth-on-mobile          { width : 20%; }
    .portion.two-fifths-on-mobile         { width : 40%; }
    .portion.three-fifths-on-mobile       { width : 60%; }
    .portion.four-fifths-on-mobile        { width : 80%; }

    .portion.one-sixth-on-mobile          { width : 16.6666%; }
    .portion.two-sixths-on-mobile         { width : 33.3332%; }
    .portion.three-sixths-on-mobile       { width : 50.0000%; }
    .portion.four-sixths-on-mobile        { width : 66.6665%; }
    .portion.five-sixths-on-mobile        { width : 83.3332%; }

    .portion.one-seventh-on-mobile        { width : 14.2856%; }
    .portion.two-sevenths-on-mobile       { width : 28.5714%; }
    .portion.three-sevenths-on-mobile     { width : 42.8571%; }
    .portion.four-sevenths-on-mobile      { width : 57.1428%; }
    .portion.five-sevenths-on-mobile      { width : 71.4285%; }
    .portion.six-sevenths-on-mobile       { width : 85.7142%; }

    .portion.one-eighth-on-mobile         { width : 12.5%; }
    .portion.two-eighths-on-mobile        { width : 25.0%; }
    .portion.three-eighths-on-mobile      { width : 37.5%; }
    .portion.four-eighths-on-mobile       { width : 50.0%; }
    .portion.five-eighths-on-mobile       { width : 62.5%; }
    .portion.six-eighths-on-mobile        { width : 75.0%; }
    .portion.seven-eighths-on-mobile      { width : 87.5%; }

    .portion.one-ninth-on-mobile          { width : 11.1111%; }
    .portion.two-ninths-on-mobile         { width : 22.2222%; }
    .portion.three-ninths-on-mobile       { width : 33.3333%; }
    .portion.four-ninths-on-mobile        { width : 44.4444%; }
    .portion.five-ninths-on-mobile        { width : 55.5555%; }
    .portion.six-ninths-on-mobile         { width : 66.6665%; }
    .portion.seven-ninths-on-mobile       { width : 77.7778%; }
    .portion.eight-ninths-on-mobile       { width : 88.8889%; }

    .portion.one-tenth-on-mobile          { width : 10%; }
    .portion.two-tenths-on-mobile         { width : 20%; }
    .portion.three-tenths-on-mobile       { width : 30%; }
    .portion.four-tenths-on-mobile        { width : 40%; }
    .portion.five-tenths-on-mobile        { width : 50%; }
    .portion.six-tenths-on-mobile         { width : 60%; }
    .portion.seven-tenths-on-mobile       { width : 70%; }
    .portion.eight-tenths-on-mobile       { width : 80%; }
    .portion.nine-tenths-on-mobile        { width : 90%; }

    .portion.one-eleventh-on-mobile       { width :  9.0909%; }
    .portion.two-elevenths-on-mobile      { width : 18.1818%; }
    .portion.three-elevenths-on-mobile    { width : 27.2727%; }
    .portion.four-elevenths-on-mobile     { width : 36.3636%; }
    .portion.five-elevenths-on-mobile     { width : 45.4545%; }
    .portion.six-elevenths-on-mobile      { width : 54.5454%; }
    .portion.seven-elevenths-on-mobile    { width : 63.6363%; }
    .portion.eight-elevenths-on-mobile    { width : 72.7272%; }
    .portion.nine-elevenths-on-mobile     { width : 81.8181%; }
    .portion.ten-elevenths-on-mobile      { width : 90.9090%; }

    .portion.one-twelfth-on-mobile        { width :  8.3333%; }
    .portion.two-twelfths-on-mobile       { width : 16.6667%; }
    .portion.three-twelfths-on-mobile     { width : 25.0000%; }
    .portion.four-twelfths-on-mobile      { width : 36.3333%; }
    .portion.five-twelfths-on-mobile      { width : 41.6667%; }
    .portion.six-twelfths-on-mobile       { width : 50.0000%; }
    .portion.seven-twelfths-on-mobile     { width : 58.3333%; }
    .portion.eight-twelfths-on-mobile     { width : 66.6667%; }
    .portion.nine-twelfths-on-mobile      { width : 75.0000%; }
    .portion.ten-twelfths-on-mobile       { width : 83.3333%; }
    .portion.eleven-twelfths-on-mobile    { width : 91.6667%; }

    .portion.one-thirteenth-on-mobile      { width :  7.6923%; }
    .portion.two-thirteenths-on-mobile     { width : 15.3846%; }
    .portion.three-thirteenths-on-mobile   { width : 23.0769%; }
    .portion.four-thirteenths-on-mobile    { width : 30.7692%; }
    .portion.five-thirteenths-on-mobile    { width : 38.4615%; }
    .portion.six-thirteenths-on-mobile     { width : 46.1538%; }
    .portion.seven-thirteenths-on-mobile   { width : 53.8462%; }
    .portion.eight-thirteenths-on-mobile   { width : 61.5385%; }
    .portion.nine-thirteenths-on-mobile    { width : 69.2308%; }
    .portion.ten-thirteenths-on-mobile     { width : 76.9231%; }
    .portion.eleven-thirteenths-on-mobile  { width : 84.6154%; }
    .portion.twelve-thirteenths-on-mobile  { width : 92.3077%; }

    .portion.one-fourteenth-on-mobile        { width :  7.1429%; }
    .portion.two-fourteenths-on-mobile       { width : 14.2857%; }
    .portion.three-fourteenths-on-mobile     { width : 21.4286%; }
    .portion.four-fourteenths-on-mobile      { width : 28.5714%; }
    .portion.five-fourteenths-on-mobile      { width : 35.7143%; }
    .portion.six-fourteenths-on-mobile       { width : 42.8571%; }
    .portion.seven-fourteenths-on-mobile     { width : 50.0000%; }
    .portion.eight-fourteenths-on-mobile     { width : 57.1429%; }
    .portion.nine-fourteenths-on-mobile      { width : 64.2857%; }
    .portion.ten-fourteenths-on-mobile       { width : 71.4286%; }
    .portion.eleven-fourteenths-on-mobile    { width : 78.5714%; }
    .portion.twelve-fourteenths-on-mobile    { width : 85.7143%; }
    .portion.thirteen-fourteenths-on-mobile  { width : 92.8571%; }

    .portion.one-fifteenth-on-mobile        { width :  6.6667%; }
    .portion.two-fifteenths-on-mobile       { width : 13.3333%; }
    .portion.three-fifteenths-on-mobile     { width : 20.0000%; }
    .portion.four-fifteenths-on-mobile      { width : 26.6667%; }
    .portion.five-fifteenths-on-mobile      { width : 33.3333%; }
    .portion.six-fifteenths-on-mobile       { width : 40.0000%; }
    .portion.seven-fifteenths-on-mobile     { width : 46.6667%; }
    .portion.eight-fifteenths-on-mobile     { width : 53.3333%; }
    .portion.nine-fifteenths-on-mobile      { width : 60.0000%; }
    .portion.ten-fifteenths-on-mobile       { width : 66.6667%; }
    .portion.eleven-fifteenths-on-mobile    { width : 73.3333%; }
    .portion.twelve-fifteenths-on-mobile    { width : 80.0000%; }
    .portion.thirteen-fifteenths-on-mobile  { width : 86.6667%; }
    .portion.fourteen-fifteenths-on-mobile  { width : 93.3333%; }

    .portion.one-sixteenth-on-mobile        { width :  6.25%; }
    .portion.two-sixteenths-on-mobile       { width : 12.50%; }
    .portion.three-sixteenths-on-mobile     { width : 18.75%; }
    .portion.four-sixteenths-on-mobile      { width : 25.00%; }
    .portion.five-sixteenths-on-mobile      { width : 31.25%; }
    .portion.six-sixteenths-on-mobile       { width : 37.50%; }
    .portion.seven-sixteenths-on-mobile     { width : 43.75%; }
    .portion.eight-sixteenths-on-mobile     { width : 50.00%; }
    .portion.nine-sixteenths-on-mobile      { width : 56.25%; }
    .portion.ten-sixteenths-on-mobile       { width : 62.50%; }
    .portion.eleven-sixteenths-on-mobile    { width : 68.75%; }
    .portion.twelve-sixteenths-on-mobile    { width : 75.00%; }
    .portion.thirteen-sixteenths-on-mobile  { width : 81.25%; }
    .portion.fourteen-sixteenths-on-mobile  { width : 87.50%; }
    .portion.fifteen-sixteenths-on-mobile   { width : 93.75%; }
}

/*  For screens FROM 600px width and UPWARD  */
@media all and (min-width : 601px) and (max-width : 900px) {

    .row:not(.retain-layout-on-tab-pt) > .portion:not([class*='tab-pt']),
    .box:not(.retain-layout-on-tab-pt) > .portion:not([class*='tab-pt']) { width: 100%; }

    .portion.whole-on-tab-pt              { width : 100%; }

    .portion.half-on-tab-pt               { width : 50%; }

    .portion.one-third-on-tab-pt          { width : 33.3332%; }
    .portion.two-thirds-on-tab-pt         { width : 66.6665%; }

    .portion.one-fourth-on-tab-pt         { width : 25%; }
    .portion.two-fourths-on-tab-pt        { width : 50%; }
    .portion.three-fourths-on-tab-pt      { width : 75%; }

    .portion.one-fifth-on-tab-pt          { width : 20%; }
    .portion.two-fifths-on-tab-pt         { width : 40%; }
    .portion.three-fifths-on-tab-pt       { width : 60%; }
    .portion.four-fifths-on-tab-pt        { width : 80%; }

    .portion.one-sixth-on-tab-pt          { width : 16.6666%; }
    .portion.two-sixths-on-tab-pt         { width : 33.3332%; }
    .portion.three-sixths-on-tab-pt       { width : 50.0000%; }
    .portion.four-sixths-on-tab-pt        { width : 66.6665%; }
    .portion.five-sixths-on-tab-pt        { width : 83.3332%; }

    .portion.one-seventh-on-tab-pt        { width : 14.2856%; }
    .portion.two-sevenths-on-tab-pt       { width : 28.5714%; }
    .portion.three-sevenths-on-tab-pt     { width : 42.8571%; }
    .portion.four-sevenths-on-tab-pt      { width : 57.1428%; }
    .portion.five-sevenths-on-tab-pt      { width : 71.4285%; }
    .portion.six-sevenths-on-tab-pt       { width : 85.7142%; }

    .portion.one-eighth-on-tab-pt         { width : 12.5%; }
    .portion.two-eighths-on-tab-pt        { width : 25.0%; }
    .portion.three-eighths-on-tab-pt      { width : 37.5%; }
    .portion.four-eighths-on-tab-pt       { width : 50.0%; }
    .portion.five-eighths-on-tab-pt       { width : 62.5%; }
    .portion.six-eighths-on-tab-pt        { width : 75.0%; }
    .portion.seven-eighths-on-tab-pt      { width : 87.5%; }

    .portion.one-ninth-on-tab-pt          { width : 11.1111%; }
    .portion.two-ninths-on-tab-pt         { width : 22.2222%; }
    .portion.three-ninths-on-tab-pt       { width : 33.3333%; }
    .portion.four-ninths-on-tab-pt        { width : 44.4444%; }
    .portion.five-ninths-on-tab-pt        { width : 55.5555%; }
    .portion.six-ninths-on-tab-pt         { width : 66.6665%; }
    .portion.seven-ninths-on-tab-pt       { width : 77.7778%; }
    .portion.eight-ninths-on-tab-pt       { width : 88.8889%; }

    .portion.one-tenth-on-tab-pt          { width : 10%; }
    .portion.two-tenths-on-tab-pt         { width : 20%; }
    .portion.three-tenths-on-tab-pt       { width : 30%; }
    .portion.four-tenths-on-tab-pt        { width : 40%; }
    .portion.five-tenths-on-tab-pt        { width : 50%; }
    .portion.six-tenths-on-tab-pt         { width : 60%; }
    .portion.seven-tenths-on-tab-pt       { width : 70%; }
    .portion.eight-tenths-on-tab-pt       { width : 80%; }
    .portion.nine-tenths-on-tab-pt        { width : 90%; }

    .portion.one-eleventh-on-tab-pt       { width :  9.0909%; }
    .portion.two-elevenths-on-tab-pt      { width : 18.1818%; }
    .portion.three-elevenths-on-tab-pt    { width : 27.2727%; }
    .portion.four-elevenths-on-tab-pt     { width : 36.3636%; }
    .portion.five-elevenths-on-tab-pt     { width : 45.4545%; }
    .portion.six-elevenths-on-tab-pt      { width : 54.5454%; }
    .portion.seven-elevenths-on-tab-pt    { width : 63.6363%; }
    .portion.eight-elevenths-on-tab-pt    { width : 72.7272%; }
    .portion.nine-elevenths-on-tab-pt     { width : 81.8181%; }
    .portion.ten-elevenths-on-tab-pt      { width : 90.9090%; }

    .portion.one-twelfth-on-tab-pt        { width :  8.3333%; }
    .portion.two-twelfths-on-tab-pt       { width : 16.6667%; }
    .portion.three-twelfths-on-tab-pt     { width : 25.0000%; }
    .portion.four-twelfths-on-tab-pt      { width : 36.3333%; }
    .portion.five-twelfths-on-tab-pt      { width : 41.6667%; }
    .portion.six-twelfths-on-tab-pt       { width : 50.0000%; }
    .portion.seven-twelfths-on-tab-pt     { width : 58.3333%; }
    .portion.eight-twelfths-on-tab-pt     { width : 66.6667%; }
    .portion.nine-twelfths-on-tab-pt      { width : 75.0000%; }
    .portion.ten-twelfths-on-tab-pt       { width : 83.3333%; }
    .portion.eleven-twelfths-on-tab-pt    { width : 91.6667%; }

    .portion.one-thirteenth-on-tab-pt      { width :  7.6923%; }
    .portion.two-thirteenths-on-tab-pt     { width : 15.3846%; }
    .portion.three-thirteenths-on-tab-pt   { width : 23.0769%; }
    .portion.four-thirteenths-on-tab-pt    { width : 30.7692%; }
    .portion.five-thirteenths-on-tab-pt    { width : 38.4615%; }
    .portion.six-thirteenths-on-tab-pt     { width : 46.1538%; }
    .portion.seven-thirteenths-on-tab-pt   { width : 53.8462%; }
    .portion.eight-thirteenths-on-tab-pt   { width : 61.5385%; }
    .portion.nine-thirteenths-on-tab-pt    { width : 69.2308%; }
    .portion.ten-thirteenths-on-tab-pt     { width : 76.9231%; }
    .portion.eleven-thirteenths-on-tab-pt  { width : 84.6154%; }
    .portion.twelve-thirteenths-on-tab-pt  { width : 92.3077%; }

    .portion.one-fourteenth-on-tab-pt        { width :  7.1429%; }
    .portion.two-fourteenths-on-tab-pt       { width : 14.2857%; }
    .portion.three-fourteenths-on-tab-pt     { width : 21.4286%; }
    .portion.four-fourteenths-on-tab-pt      { width : 28.5714%; }
    .portion.five-fourteenths-on-tab-pt      { width : 35.7143%; }
    .portion.six-fourteenths-on-tab-pt       { width : 42.8571%; }
    .portion.seven-fourteenths-on-tab-pt     { width : 50.0000%; }
    .portion.eight-fourteenths-on-tab-pt     { width : 57.1429%; }
    .portion.nine-fourteenths-on-tab-pt      { width : 64.2857%; }
    .portion.ten-fourteenths-on-tab-pt       { width : 71.4286%; }
    .portion.eleven-fourteenths-on-tab-pt    { width : 78.5714%; }
    .portion.twelve-fourteenths-on-tab-pt    { width : 85.7143%; }
    .portion.thirteen-fourteenths-on-tab-pt  { width : 92.8571%; }

    .portion.one-fifteenth-on-tab-pt        { width :  6.6667%; }
    .portion.two-fifteenths-on-tab-pt       { width : 13.3333%; }
    .portion.three-fifteenths-on-tab-pt     { width : 20.0000%; }
    .portion.four-fifteenths-on-tab-pt      { width : 26.6667%; }
    .portion.five-fifteenths-on-tab-pt      { width : 33.3333%; }
    .portion.six-fifteenths-on-tab-pt       { width : 40.0000%; }
    .portion.seven-fifteenths-on-tab-pt     { width : 46.6667%; }
    .portion.eight-fifteenths-on-tab-pt     { width : 53.3333%; }
    .portion.nine-fifteenths-on-tab-pt      { width : 60.0000%; }
    .portion.ten-fifteenths-on-tab-pt       { width : 66.6667%; }
    .portion.eleven-fifteenths-on-tab-pt    { width : 73.3333%; }
    .portion.twelve-fifteenths-on-tab-pt    { width : 80.0000%; }
    .portion.thirteen-fifteenths-on-tab-pt  { width : 86.6667%; }
    .portion.fourteen-fifteenths-on-tab-pt  { width : 93.3333%; }

    .portion.one-sixteenth-on-tab-pt        { width :  6.25%; }
    .portion.two-sixteenths-on-tab-pt       { width : 12.50%; }
    .portion.three-sixteenths-on-tab-pt     { width : 18.75%; }
    .portion.four-sixteenths-on-tab-pt      { width : 25.00%; }
    .portion.five-sixteenths-on-tab-pt      { width : 31.25%; }
    .portion.six-sixteenths-on-tab-pt       { width : 37.50%; }
    .portion.seven-sixteenths-on-tab-pt     { width : 43.75%; }
    .portion.eight-sixteenths-on-tab-pt     { width : 50.00%; }
    .portion.nine-sixteenths-on-tab-pt      { width : 56.25%; }
    .portion.ten-sixteenths-on-tab-pt       { width : 62.50%; }
    .portion.eleven-sixteenths-on-tab-pt    { width : 68.75%; }
    .portion.twelve-sixteenths-on-tab-pt    { width : 75.00%; }
    .portion.thirteen-sixteenths-on-tab-pt  { width : 81.25%; }
    .portion.fourteen-sixteenths-on-tab-pt  { width : 87.50%; }
    .portion.fifteen-sixteenths-on-tab-pt   { width : 93.75%; }
}

/*  For screens FROM 900px width and UPWARD  */
@media all and (min-width : 901px) and (max-width : 1200px) {

    .row:not(.retain-layout-on-tab-ls) > .portion:not([class*='tab-ls']),
    .box:not(.retain-layout-on-tab-ls) > .portion:not([class*='tab-ls']) { width: 100%; }

    .portion.whole-on-tab-ls              { width : 100%; }

    .portion.half-on-tab-ls               { width : 50%; }

    .portion.one-third-on-tab-ls          { width : 33.3332%; }
    .portion.two-thirds-on-tab-ls         { width : 66.6665%; }

    .portion.one-fourth-on-tab-ls         { width : 25%; }
    .portion.two-fourths-on-tab-ls        { width : 50%; }
    .portion.three-fourths-on-tab-ls      { width : 75%; }

    .portion.one-fifth-on-tab-ls          { width : 20%; }
    .portion.two-fifths-on-tab-ls         { width : 40%; }
    .portion.three-fifths-on-tab-ls       { width : 60%; }
    .portion.four-fifths-on-tab-ls        { width : 80%; }

    .portion.one-sixth-on-tab-ls          { width : 16.6666%; }
    .portion.two-sixths-on-tab-ls         { width : 33.3332%; }
    .portion.three-sixths-on-tab-ls       { width : 50.0000%; }
    .portion.four-sixths-on-tab-ls        { width : 66.6665%; }
    .portion.five-sixths-on-tab-ls        { width : 83.3332%; }

    .portion.one-seventh-on-tab-ls        { width : 14.2856%; }
    .portion.two-sevenths-on-tab-ls       { width : 28.5714%; }
    .portion.three-sevenths-on-tab-ls     { width : 42.8571%; }
    .portion.four-sevenths-on-tab-ls      { width : 57.1428%; }
    .portion.five-sevenths-on-tab-ls      { width : 71.4285%; }
    .portion.six-sevenths-on-tab-ls       { width : 85.7142%; }

    .portion.one-eighth-on-tab-ls         { width : 12.5%; }
    .portion.two-eighths-on-tab-ls        { width : 25.0%; }
    .portion.three-eighths-on-tab-ls      { width : 37.5%; }
    .portion.four-eighths-on-tab-ls       { width : 50.0%; }
    .portion.five-eighths-on-tab-ls       { width : 62.5%; }
    .portion.six-eighths-on-tab-ls        { width : 75.0%; }
    .portion.seven-eighths-on-tab-ls      { width : 87.5%; }

    .portion.one-ninth-on-tab-ls          { width : 11.1111%; }
    .portion.two-ninths-on-tab-ls         { width : 22.2222%; }
    .portion.three-ninths-on-tab-ls       { width : 33.3333%; }
    .portion.four-ninths-on-tab-ls        { width : 44.4444%; }
    .portion.five-ninths-on-tab-ls        { width : 55.5555%; }
    .portion.six-ninths-on-tab-ls         { width : 66.6665%; }
    .portion.seven-ninths-on-tab-ls       { width : 77.7778%; }
    .portion.eight-ninths-on-tab-ls       { width : 88.8889%; }

    .portion.one-tenth-on-tab-ls          { width : 10%; }
    .portion.two-tenths-on-tab-ls         { width : 20%; }
    .portion.three-tenths-on-tab-ls       { width : 30%; }
    .portion.four-tenths-on-tab-ls        { width : 40%; }
    .portion.five-tenths-on-tab-ls        { width : 50%; }
    .portion.six-tenths-on-tab-ls         { width : 60%; }
    .portion.seven-tenths-on-tab-ls       { width : 70%; }
    .portion.eight-tenths-on-tab-ls       { width : 80%; }
    .portion.nine-tenths-on-tab-ls        { width : 90%; }

    .portion.one-eleventh-on-tab-ls       { width :  9.0909%; }
    .portion.two-elevenths-on-tab-ls      { width : 18.1818%; }
    .portion.three-elevenths-on-tab-ls    { width : 27.2727%; }
    .portion.four-elevenths-on-tab-ls     { width : 36.3636%; }
    .portion.five-elevenths-on-tab-ls     { width : 45.4545%; }
    .portion.six-elevenths-on-tab-ls      { width : 54.5454%; }
    .portion.seven-elevenths-on-tab-ls    { width : 63.6363%; }
    .portion.eight-elevenths-on-tab-ls    { width : 72.7272%; }
    .portion.nine-elevenths-on-tab-ls     { width : 81.8181%; }
    .portion.ten-elevenths-on-tab-ls      { width : 90.9090%; }

    .portion.one-twelfth-on-tab-ls        { width :  8.3333%; }
    .portion.two-twelfths-on-tab-ls       { width : 16.6667%; }
    .portion.three-twelfths-on-tab-ls     { width : 25.0000%; }
    .portion.four-twelfths-on-tab-ls      { width : 36.3333%; }
    .portion.five-twelfths-on-tab-ls      { width : 41.6667%; }
    .portion.six-twelfths-on-tab-ls       { width : 50.0000%; }
    .portion.seven-twelfths-on-tab-ls     { width : 58.3333%; }
    .portion.eight-twelfths-on-tab-ls     { width : 66.6667%; }
    .portion.nine-twelfths-on-tab-ls      { width : 75.0000%; }
    .portion.ten-twelfths-on-tab-ls       { width : 83.3333%; }
    .portion.eleven-twelfths-on-tab-ls    { width : 91.6667%; }

    .portion.one-thirteenth-on-tab-ls      { width :  7.6923%; }
    .portion.two-thirteenths-on-tab-ls     { width : 15.3846%; }
    .portion.three-thirteenths-on-tab-ls   { width : 23.0769%; }
    .portion.four-thirteenths-on-tab-ls    { width : 30.7692%; }
    .portion.five-thirteenths-on-tab-ls    { width : 38.4615%; }
    .portion.six-thirteenths-on-tab-ls     { width : 46.1538%; }
    .portion.seven-thirteenths-on-tab-ls   { width : 53.8462%; }
    .portion.eight-thirteenths-on-tab-ls   { width : 61.5385%; }
    .portion.nine-thirteenths-on-tab-ls    { width : 69.2308%; }
    .portion.ten-thirteenths-on-tab-ls     { width : 76.9231%; }
    .portion.eleven-thirteenths-on-tab-ls  { width : 84.6154%; }
    .portion.twelve-thirteenths-on-tab-ls  { width : 92.3077%; }

    .portion.one-fourteenth-on-tab-ls        { width :  7.1429%; }
    .portion.two-fourteenths-on-tab-ls       { width : 14.2857%; }
    .portion.three-fourteenths-on-tab-ls     { width : 21.4286%; }
    .portion.four-fourteenths-on-tab-ls      { width : 28.5714%; }
    .portion.five-fourteenths-on-tab-ls      { width : 35.7143%; }
    .portion.six-fourteenths-on-tab-ls       { width : 42.8571%; }
    .portion.seven-fourteenths-on-tab-ls     { width : 50.0000%; }
    .portion.eight-fourteenths-on-tab-ls     { width : 57.1429%; }
    .portion.nine-fourteenths-on-tab-ls      { width : 64.2857%; }
    .portion.ten-fourteenths-on-tab-ls       { width : 71.4286%; }
    .portion.eleven-fourteenths-on-tab-ls    { width : 78.5714%; }
    .portion.twelve-fourteenths-on-tab-ls    { width : 85.7143%; }
    .portion.thirteen-fourteenths-on-tab-ls  { width : 92.8571%; }

    .portion.one-fifteenth-on-tab-ls        { width :  6.6667%; }
    .portion.two-fifteenths-on-tab-ls       { width : 13.3333%; }
    .portion.three-fifteenths-on-tab-ls     { width : 20.0000%; }
    .portion.four-fifteenths-on-tab-ls      { width : 26.6667%; }
    .portion.five-fifteenths-on-tab-ls      { width : 33.3333%; }
    .portion.six-fifteenths-on-tab-ls       { width : 40.0000%; }
    .portion.seven-fifteenths-on-tab-ls     { width : 46.6667%; }
    .portion.eight-fifteenths-on-tab-ls     { width : 53.3333%; }
    .portion.nine-fifteenths-on-tab-ls      { width : 60.0000%; }
    .portion.ten-fifteenths-on-tab-ls       { width : 66.6667%; }
    .portion.eleven-fifteenths-on-tab-ls    { width : 73.3333%; }
    .portion.twelve-fifteenths-on-tab-ls    { width : 80.0000%; }
    .portion.thirteen-fifteenths-on-tab-ls  { width : 86.6667%; }
    .portion.fourteen-fifteenths-on-tab-ls  { width : 93.3333%; }

    .portion.one-sixteenth-on-tab-ls        { width :  6.25%; }
    .portion.two-sixteenths-on-tab-ls       { width : 12.50%; }
    .portion.three-sixteenths-on-tab-ls     { width : 18.75%; }
    .portion.four-sixteenths-on-tab-ls      { width : 25.00%; }
    .portion.five-sixteenths-on-tab-ls      { width : 31.25%; }
    .portion.six-sixteenths-on-tab-ls       { width : 37.50%; }
    .portion.seven-sixteenths-on-tab-ls     { width : 43.75%; }
    .portion.eight-sixteenths-on-tab-ls     { width : 50.00%; }
    .portion.nine-sixteenths-on-tab-ls      { width : 56.25%; }
    .portion.ten-sixteenths-on-tab-ls       { width : 62.50%; }
    .portion.eleven-sixteenths-on-tab-ls    { width : 68.75%; }
    .portion.twelve-sixteenths-on-tab-ls    { width : 75.00%; }
    .portion.thirteen-sixteenths-on-tab-ls  { width : 81.25%; }
    .portion.fourteen-sixteenths-on-tab-ls  { width : 87.50%; }
    .portion.fifteen-sixteenths-on-tab-ls   { width : 93.75%; }
}